@use "../01-settings/helpers" as *;

.prototype :global {

  /**
    Prototype dependent styles
   */

  %model-viewer-bg {
    background: var(--gradient-black-box);
    border: 0.25px solid rgba(255,255,255,0.1);
    border-radius: 5px;
  }

  .product-configurator {
    &__view-content {
      @extend %model-viewer-bg;
    }
  }

  .annotation-graphic__container model-viewer {
    height: auto;
    aspect-ratio: 1 / 0.9;
    @extend %model-viewer-bg;
  }

  model-viewer {
    --progress-bar-color: var(--color-headline);
    --poster-color: transparent;
    --min-hotspot-opacity: 0;
  }


}