@use "../01-settings/helpers" as *;

.prototype :global {

    .hero {
      &__media {
        width: 100vw;
        height: 100%;
        left: 0;

        model-viewer {
          width: 100%;
          height: 100%;
          transform: unset;
        }
      }
    }

  .section--configurator {
    .grid {
      grid-template-columns: 1fr;
      grid-template-areas: "content";

      .grid__column {
        grid-area: content;
      }

      model-viewer {
        //z-index: -1;
        --progress-bar-color: transparent;
      }
    }
  }

  .annotation-graphic__container {
    height: 60vh;
    position: relative;

    model-viewer {
      width: 100%;
      max-width: unset;
      height: auto;
      aspect-ratio: 16/9;
    }
  }

  model-viewer {
    --progress-bar-color: var(--color-headline);
    --poster-color: transparent;
    --min-hotspot-opacity: 0;
  }

}