@use "../01-settings/helpers" as *;
@use "../03-elements/section" as *;
@use "p2.module" as *;

.prototype :global {

  @extend %prototype-2;

  .hero {
    position: relative;
    z-index: -1;

    &__container {
      z-index: -1;
    }

    &__media {
      width: 100%;
    }

    &__media model-viewer {
      height: 100%;
      position: fixed;

      @media (max-width: 1023px) {
        height: remcalc(600);
        top: 0;
        left: 0;
        transform: translateX(0%);
      }

      &:after {
        content: unset;
      }
    }
  }

  .section--kpi {
    position: relative;
    margin: remcalc(150) 0;

    &:before {
      --gradient-offset: 75%;
      content: "";
      position: absolute;
      top: calc(-1 * var(--gradient-offset));
      left: 0;
      height: calc(100% + 2 * var(--gradient-offset));
      width: 100%;
      background: linear-gradient(transparent , rgb(0,0,0), transparent);
      z-index: -1;
    }
  }

  .product-configurator__view label {
    display: none;
  }

  .section--annotation {
    transition: transform var(--transition-default);
    @media (max-width: 1023px) {
      transform: translateY(400px);
    }
  }

  .annotation-graphic__container {
    pointer-events: none;

    max-height: 50vh;

    @media (max-width: 1023px) {
      max-height: 40vh;
      justify-content: flex-end;
    }
  }

}