@use "../01-settings/variables" as *;
@use "../01-settings/helpers" as *;
@use "label" as *;

.image-marker {

  --size-marker: #{remcalc(30)};

  position: absolute;
  top: var(--position-y, unset);
  left: var(--position-x, unset);
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  opacity: 1;
  transition: opacity 180ms ease-in-out, transform 380ms cubic-bezier(.22,0,.22,1.87);

  &__label {
    position: absolute;
    z-index: 1;

    @extend .label;

    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: all var(--transition-default);

    @media (max-width: $xl) {
      top: calc(100% + #{remcalc(5)});
    }

    @media (min-width: $min-xxl) {
      right: calc(100% + #{remcalc(20)});
    }

  }

  &__indicator {
    content: url(../../public/icons/marker.svg);

    transition: transform var(--transition-default);
    cursor: pointer;

    width: var(--size-marker);
    height: var(--size-marker);

    &:hover {
      transform: rotate(180deg);
    }
  }

  &--hidden {
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    animation: none;
  }

  &--open, &:hover {
    .image-marker__label {
      opacity: 1;
      transform: scaleX(1);
    }
  }

  &--large {
    --size-marker: #{remcalc(40)};
  }

}