@use "../01-settings/helpers" as *;
@use "../03-elements/section" as *;

.footer {

  &__container {
    @extend %section, .section--stretched;

    border-top: 1px solid var(--color-headline);
    padding: remcalc(20) remcalc(30);

    display: flex;
    gap: var(--gap-default);

    font-size: remcalc(12);
    font-weight: normal;
    color: var(--color-text);
  }

  &__copyright {
    flex: 1;
  }

}