
%animation-fade {
  animation: fadeIn 360ms ease-in-out forwards;
  animation-delay: 750ms;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}